# .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
.nuget/
packages/
TestResults/
coverage/
*.coverage
*.coveragexml

# Docker
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
appsettings.*.local.json
secrets.json
